<a href="https://colab.research.google.com/github/choisilver/itwillPython/blob/main/py10_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1급 객체(first-class object)로서의 함수

함수는 객체(object)다.

* 함수는 변수에 할당할 수 있음.
* 함수의 파라미터에 다른 함수를 전달할 수 있음.
* 함수의 리턴 값이 함수가 될 수 있음.
* 함수 내부에서 다른 함수를 정의할 수 있음.

## 함수를 변수에 할당

In [1]:
def twice(x):
    return 2 * x

In [2]:
result = twice(5)   # 함수 twice의 호출결과(리턴값)을 변수 result에 할당.
result

10

In [4]:
double = twice  # 함수 twice 객체를 변수 double에 할당.
double

In [5]:
double(20)

40

## 파라미터에 함수를 전달

In [6]:
def calculator(x,y,fn):  # 자바, 자바스크립트에 있는 익명함수는 사용할 수 없음. 람다표현식은 가능!
    """
    x,y: 숫자타입(int, float)
    fn: 숫자 2개를 argument로 전달받고, 숫자를 리턴하는 함수.

    """
    result = fn(x,y)

    return result

In [7]:
def plus(x,y):
    return x + y

In [8]:
calculator(1,2,plus)

3

## 내부함수, 함수 리턴

In [9]:
def make_increments(n):
    
    # 내부함수(inner function). 지역 함수(local function)
    def add_n(x):
        # 내부함수는 외부함수의 지역 변수들을 사용할 수 있음.
        return x + n

    return add_n  # 함수 객체를 리턴.

In [11]:
increase_by_2 = make_increments(2)
increase_by_2

In [13]:
increase_by_2(3)

5

In [14]:
increase_by_10 = make_increments(10)
increase_by_10(100)

110

# 람다 표현식(Lambda expression)

* 이름이 없는 함수 표기법 
* 함수 이름 없이 함수의 파라미터 선언과 반환 값 또는 반환 식으로만 함수를 정의 하는 방법.
* 파이썬은 2줄 이상의 문장이 포함된 람다 표현식은 제공하지 않음.  

```
lambda p1, p2, ... : expression  
```

In [15]:
minus = lambda x,y : x-y

In [16]:
minus

In [18]:
calculator(1,12,lambda x,y: x/y)

0.08333333333333333

calculator 함수에 더 큰 숫자를 리턴하는 람다표현식

In [23]:
# calculator(10,2 , lambda x,y : max(x,y))
calculator(10,2 , lambda x,y : x if x > y else y)   # 삼항연산자?

10

calculator 함수에 첫번째 argument가 크면 True 그렇지 않으면 False를 리턴하는 람다표현식을 argumnet

In [22]:
calculator(10,30, lambda x,y : x>y)

False

## filter 함수

In [49]:
def my_filter(iterable, fn):
    """
    리스트 iterable의 원소들 중에서 fn의 결과값이 True인 원소들로만 이루어진 리스트를 리턴.

    iterable: 리스트.
    fn: argument가 1개이고, 리턴 타입은 bool인 함수.
    """

    # result = []  #  필터링된 결과를 저장할 빈 리스트
    # for x in iterable:  # 원본 리스트의 원소들을 처음부터 끝까지 반복하면서
    #     if fn(x) :  # 필터링 조건을 만족하면
    #         result.append(x)  # 결과 리스트에 추가
    # return result
    return [x for x in iterable if fn(x)]

In [55]:
lists = [1,2,3,4,-5,-7]
my_filter(lists, lambda x : x >0 )  # 리스트에서 짝수, 홀수만 필터링함.

[1, 2, 3, 4]

## map 함수

In [57]:
def my_mapper(iterable, fn):
    """
    리스트 iterable의 원소들을 함수 fn의 리턴 값으로 변환한 리스트를 리턴.

    iterable: 리스트
    fn: argument가 한개이고 리턴 값이 있는 함수.
    """
    # result = []
    # for x in iterable:
    #     result.append(fn(x))
    # return result

    return [fn(x) for x in iterable ]

In [61]:
# lists의 원소들을 짝수는 True, 홀수는 False로 매핑
my_mapper(lists, lambda x : x%2==1)

[True, False, True, False, True, True]

In [62]:
# lists의 원소들을 0이상인 숫자들은 True, 음수들은 False로 매핑
my_mapper(lists, lambda x: x>=0)

[True, True, True, True, False, False]

In [63]:
# languages의 문자열들을 그 문자열의 길이로 매핑
my_mapper(languages, lambda x: len(x))

[4, 10, 6]

Python 구현된 `filter`, `mapper`

In [64]:
result = filter(lambda x: x>0, lists)

In [65]:
result  # 필터 객체가 리턴 됨. 리스트 타입이 아님.

In [66]:
list(result) # 강제 타입 변환.

[1, 2, 3, 4]

In [68]:
result = map(lambda x: x>0, lists)
result

In [69]:
list(result)

[True, True, True, True, False, False]

In [71]:
dir()

['In',
 'Out',
 '_',
 '_10',
 '_11',
 '_12',
 '_13',
 '_14',
 '_16',
 '_17',
 '_18',
 '_19',
 '_2',
 '_20',
 '_21',
 '_22',
 '_23',
 '_3',
 '_30',
 '_32',
 '_33',
 '_34',
 '_35',
 '_36',
 '_37',
 '_39',
 '_4',
 '_41',
 '_43',
 '_44',
 '_45',
 '_46',
 '_48',
 '_5',
 '_50',
 '_51',
 '_52',
 '_53',
 '_54',
 '_55',
 '_56',
 '_58',
 '_59',
 '_60',
 '_61',
 '_62',
 '_63',
 '_65',
 '_66',
 '_68',
 '_69',
 '_70',
 '_8',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'calculator',
 'double',
 'exit',
 'get_ipython',
 'increase_by_10',
 'increase_by_2',
 'languages',
 'lists',
 'make_increments',
 'minus',
 'my_filter',
 'my_mapper',
 'plus',
 'quit',
 'result',
 'twice',
 'week']