<a href="https://colab.research.google.com/github/choisilver/itwillPython/blob/main/py11_oop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# OOP(Object-Oriented Programing, 객체지향프로그래밍)

## list, dict 데이터 타입 사용 프로그래밍

In [ ]:
students = [
    {'name': 'aaa', 'java':100, 'python':90, 'javascript': 70},
    {'name': 'bbb', 'java':90, 'python':80, 'javascript': 90},
    {'name': 'ccc', 'java':55, 'python':90, 'javascript': 65},

]

In [ ]:
students

[{'name': 'aaa', 'java': 100, 'python': 90, 'javascript': 70},
 {'name': 'bbb', 'java': 90, 'python': 80, 'javascript': 90},
 {'name': 'ccc', 'java': 55, 'python': 90, 'javascript': 65}]

In [ ]:
# 각 학생의 세 과목 총점과 평균 출력
for s in students:  # list에서 하나씩
    total = s['java'] + s['python'] + s['javascript']
    mean = total/3
    print(f'이름: {s["name"]}  총점 :{total} 평균 : {mean}')

이름: aaa  총점 :260 평균 : 86.66666666666667
이름: bbb  총점 :260 평균 : 86.66666666666667
이름: ccc  총점 :210 평균 : 70.0

## 함수형 프로그래밍(Functional programming)

In [ ]:
def create_student(name, java, python, javascript):
    student = {
        'name':name,
        'java': java,
        'python': python,
        'javascript':javascript
    }
    return student

In [ ]:
students = [
    create_student('김길동', 100,50,50),
    create_student('최길동', 88,90,70),
    create_student('홍길동', 100,45,80)
]

In [ ]:
students

[{'name': '김길동', 'java': 100, 'python': 50, 'javascript': 50},
 {'name': '최길동', 'java': 88, 'python': 90, 'javascript': 70},
 {'name': '홍길동', 'java': 100, 'python': 45, 'javascript': 80}]

In [ ]:
def get_total(student):
    return student['java']+ student['python']+student['javascript']

In [ ]:
def get_mean(student):
    return get_total(student)/3

In [ ]:
for s in students:
    name = s['name']
    total = get_total(s)
    mean = get_mean(s)
    print(f'이름:{name} 총점:{total} 평균 : {mean}')

이름:김길동 총점:200 평균 : 66.66666666666667
이름:최길동 총점:248 평균 : 82.66666666666667
이름:홍길동 총점:225 평균 : 75.0

## 객체 지향 프로그래밍(OOP)

In [ ]:
class Student:
    # 생성자 함수: 생성자를 호출하면 파이썬 인터프리터에 의해서 자동으로 호출되는 메서드.
    def __init__(self, name, java, python, javascript):  # self를 제외한 것이 실제 대입 되어야 할 argument, 멤버변수
        self.name= name
        self.java = java
        self.python = python
        self.javascript = javascript

    def get_total(self): # 메서드 정의시 객체의 주소값을 넣어줘야함. 함수는 self가 필요하지 않음.
        return self.java + self.python + self.javascript

    def get_mean(self):
        return self.get_total()/3

    def print_info(self):
        print(f'이름: {self.name}, 총점: {self.get_total()} 평균:{self.get_mean()}')

In [ ]:
student1= Student('홍길동',100, 80, 90)

In [ ]:
student1.print_info()

이름: 홍길동, 총점: 270 평균:90.0

In [ ]:
student1.get_total()

270

## 클래스 작성 연습

* 2차원 평면의 점의 좌표(x,y)를 표현하는 클래스.
* 메서드: 
    * 점의 좌표를 원래 위치에서 dx, dy만크 이동시키는 메서드.
    * 두 점 간의 거리를 리턴하는 메서드.

In [ ]:
import math

In [ ]:
class Point:
    def __init__(self, x=0,y=0):
        # 인스턴스 변수(객체 속성) 선언과 초기화. 
        self.x=x
        self.y = y

    def move(self, dx, dy):
        self.x += dx
        self.y += dy
        return self 
    
    def distanc(self, pt):
        return math.sqrt((self.x - pt.x)**2 + (self.y - pt.y)**2 )

    def __str__(self):
        return f'Point(x={self.x}, y={self.y})';

# 생성자 하나만 만들어서 디폴트, 키워드 argument를 이용해서 여러개 사용할 수 있음.

In [ ]:
# 좌표가 원점인 Point 타입 객체 생성
point0 = Point(0,0)
print(point0)

Point(x=0, y=0)

In [ ]:
print(point0.x)  # point0 인스턴스의 속성(필드)
print(point0.y)

0
0

In [ ]:
point0.move(1,2)   # 주소값을 리턴함. 처음 만들어졌을 때와 동일함.

In [ ]:
point1 = Point(1,0)
point0.distanc(point1)

2.0

In [ ]:
pt1 = Point()
print(pt1)

Point(x=0, y=0)

In [ ]:
pt2 = Point(1) 
print(pt2)

Point(x=1, y=0)

In [ ]:
pt3 = Point(y=1)
print(pt3)

Point(x=0, y=1)

(7, 20)

In [ ]:
class Xy:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    
    def move_dx(self, dx, dy):
        self.x = self.x + dx
        self.y = self.y + dy
        return self.x, self.y

point1 = Xy(5,10)
point1.move_dx(dx = 2, dy = 10)

# magic method

모든 클래스가 같은 이름으로 가지고 있는 메서드. 특별한 경우에 자동으로 호출되는 메서드.

* `__init__(self)`:  생성자를 호출하면 자동으로 호출되는 메서드. 인스턴스 변수 선언 & 초기화.
* `__str__(self)`: 문자열을 리턴하는 메서드. print() 함수 안에서 자동으로 호출됨.
* `__repr__(self)`: 문자열을 리턴하는 메서드. 식(expression)을 출력할 때 자동으로 호출되는 메서드.
    * 클래스에서 `__str__` 메서드와 `__repr__` 메서드를 다르게 구현하면, print()함수로 출력하는 내용과 식으로 자동으로 출력하는 내용이 서로 다름.
    * print() 함수는 `__str__` 메서드가 구현되어 있으면 `__str__` 메서드를 호출하고, `__str__ ` 메서드가 구현되어 있지 않으면 `__repr__`를 호출함
* `__eq__(self,o)` : 두 객체가 같은 지(True) 다른 지(False)를 리턴하는 메서드.
`==` 연산자를 사용했을 때 자동으로 호출되는 메서드.
* `__add__(self, o)`: `+` 연산자를 사용했을 때 자동으로 호출되는 메서드.
* `__mul__(self, o)`: `*` 연산자를 사용했을 때 자동으로 호출되는 메서드.

In [ ]:
class T:
    def __str__(self):
        return 'class T instance'
    def __repr__(self):
        return 'class T'

t =T()
print(t) # print 함수를 사용한 출력
t # 셀의 가장 마지막 주에 있는 표현식의 자동 출력

class T instance

class T

In [ ]:
print(type(2))

<class 'int'>

In [ ]:
list1 = [1,2,3]
list2 = [1,2,3]

In [ ]:
list1 == list2 # 안에 있는 내용만 확인 해서 true  list1.__eq__(list2)

True

In [ ]:
list1 + list2  # list1.__add__(list2)

[1, 2, 3, 1, 2, 3]

In [ ]:
class Number:
    def __init__(self, x):
        self.x = x
    def __repr__(self):
        return f'{self.x}'

    def __eq__(self, other):
        return self.x == other.x
    
    def __add__(self, other):  # 타입 검사 해야함.
        return Number(self.x + other.x)

In [ ]:
n1 = Number(10)
n2 = Number(20)
n3 = Number(10)

In [ ]:
print(n1,n2,n3)

10 20 10

In [ ]:
print(n1==n2)
print(n1==n3)

False
True

In [ ]:
type(n1+n2) # 연산결과 Number 객체  => __repr__ 호출

__main__.Number

* class Score
    * 속성: Korean, english, math
    * 메서드: 총점, 평균, `__repr__`, `__eq__`

* class Student
    * 속성 : stu_no, stu_name, score(Score 객체타입) 
    * 메서드 : `__repr__`

In [23]:
class Score:
    def __init__(self, korean=0, english=0, math=0):  # default argument 넣기
        self.korean = korean     # self는 메모리 주소
        self.english = english
        self.math = math
    def __repr__(self):  # 문자열만 리턴해야함.
        return f'korean :{self.korean} , english :{self.english} , math:{self.math}  총점:{self.total()}  평균 :{self.mean()}'
        
    def __eq__(self,o):  # 파이썬은 라인 기준임. ()사용, \ 사용.
        return self.korean == o.korean and  \
                self.english == o.english and  \
                self.math == o.math
    
    def total(self):
        return self.korean + self.english + self.math
    
    def mean(self):
        return self.total()/3

In [34]:
# 상속 관계 IS-A관계 학생은 사람이다. 회사원은 사람이다.  
# 사람 = 상위 클래스
# 학생, 회사원 = 하위 클래스

# HAS-A   student has a score.

class Student:
    def __init__(self, stu_no, stu_name, score):
        self.stu_no = stu_no
        self.stu_name = stu_name
        self.score = score
    
    def __repr__(self):
        return f'Student  no:{self.stu_no} name:{self.stu_name}, Score:{self.score}'

In [35]:
sc1 = Score()
sc1

korean :0 , english :0 , math:0  총점:0  평균 :0.0

In [36]:
sc2 = Score()
sc2

korean :0 , english :0 , math:0  총점:0  평균 :0.0

In [37]:
sc3 = Score(50,70,50)
sc3

korean :50 , english :70 , math:50  총점:170  평균 :56.666666666666664

In [38]:
print(sc1==sc2)

True

In [39]:
score1 = Score(90,100,80)
score2 = Score(90,100,80)

score1 == score2

True

In [40]:
stu1 = Student(10, 'choi', score1)
stu1

Student  no:10 name:choi, Score:korean :90 , english :100 , math:80  총점:270  평균 :90.0

In [41]:
score1.mean()

90.0

In [42]:
student2 = Student(2, '오쌤', Score(100,90,80))

student2

Student  no:2 name:오쌤, Score:korean :100 , english :90 , math:80  총점:270  평균 :90.0

In [45]:
stu1.score

korean :90 , english :100 , math:80  총점:270  평균 :90.0